* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
}

img {
  width: 100%;
}

.hero p {
  font-size: 16px;
  color: #e5e7eb;
}

.main .container{
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
}

.navbar {
  
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  gap: 28px;
}

.navbar-links a {
  color: #f9faf8
}

.hero {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 80px;
  padding-bottom: 80px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 450px;
  gap: 10px;
}

.hero-right {
  display: flex;
  width: 400px;
  background-color: gray;
}

.btn-sign-up {
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8
}

.btn-sign-up.white {
  width: 140px;
  padding: 8px 30px;
  border: 2px solid;
  border-radius: 6px;
  border-color: #f9faf8;
  font-weight: 700;
}

.about-us {
  padding-top: 40px;
}

.about-us h2 {
  text-align: center;
}

.info-area {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 100px;
}

.info-box{
  max-width: 200px;
}

.info-img {
  border-style: solid;
  border-width: 3px;
  border-color: #3882f6;
  border-radius: 20px;
  height: 180px;
}

.text {
  margin-top: 15px;
  text-align: center;
}

.quote-area {
  padding: 110px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;

}

.quote-text {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.quote-text p {
  font-size: 24px;
  color: #1f2937;
  font-style: italic;
  margin-bottom: 20px;
}

.author {
  display: flex;
  justify-content: end;
  font-weight: 600;
}

.sign-up-area {
  margin: 50px 160px;
  padding: 40px 40px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #3882f6;
}

.sign-up-text h3, p {
  color: #f9faf8;
}